# Patterns to ignore when building packages.
# This will be ignored by packaging and linting.
#
# It's recommended to ignore chart source and CI/CD files.
.DS_Store
# Common VCS files
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.swo
*~
*.bak
*.tmp
*.orig
# Editor directories and files
.idea/
.vscode/
*.*.swp
